body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 70px;
    font-family: a_avantebs, Arial, sans-serif;
    font-weight: 550;
    line-height: 1.6;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffa3a3;
    box-shadow: 0 2px 5px rgba(76, 76, 76, 0.16);
    z-index: 1000;
}
.navi {
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}
.line {
    margin-right: 25px;
}

.logo {
    height: 60px;
}
.backinttext {
    width: 100%;
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}
.backinttext {
    position: relative;
    padding: 0 135px;
    padding-top: 100px;
}
.important {
    display: block;
    font-size: 24px;
}